<?xml version="1.0" encoding="UTF-8"?>
<configuration>


    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>
    <springProperty scope="context" name="application.name" source="spring.application.name"/>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <charset>UTF-8</charset>
            <pattern>${CONSOLE_LOG_PATTERN}</pattern>
        </encoder>
<!--        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">-->
<!--            <level>debug</level> &lt;!&ndash; Restrict root-level logs to INFO and above &ndash;&gt;-->
<!--        </filter>-->
    </appender>

    <appender name="SAVE-TO-FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>/tmp/spring/${application.name}.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>/tmp/spring/${application.name}.log.%d{yyyy-MM-dd}.%i.gz</fileNamePattern>
            <maxFileSize>5MB</maxFileSize>
            <maxHistory>20</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>${FILE_LOG_PATTERN}</pattern>
            <charset>${FILE_LOG_CHARSET}</charset>
        </encoder>
    </appender>

    <logger name="org.hibernate.sql" level="TRACE" additivity="false">
        <appender-ref ref="STDOUT"/>
    </logger>

    <logger name="org.hibernate.type" level="TRACE" additivity="false">
        <appender-ref ref="STDOUT"/>
    </logger>

    <logger name="org.hibernate.orm.jdbc.bind" level="TRACE" additivity="false">
        <appender-ref ref="STDOUT"/>
    </logger>

    <logger name="org.hibernate.stat" level="TRACE" additivity="false">
        <appender-ref ref="STDOUT"/>
    </logger>

    <logger name="org.hibernate.SQL_SLOW" level="TRACE" additivity="false">
        <appender-ref ref="STDOUT"/>
    </logger>

    <logger name="org.hibernate.cache" level="TRACE" additivity="false">
        <appender-ref ref="STDOUT"/>
    </logger>

    <root level="trace">
        <appender-ref ref="STDOUT"/>
        <appender-ref ref="SAVE-TO-FILE"/>
    </root>

</configuration>